*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

.glow-text-white {
    color: white;
    font-size: 5rem;
    text-shadow: 0 0 10px #fff;
}

.glow-text-purple {
    color: #8c30fd;
    font-size: 5rem;
    text-shadow: 0 0 10px #8c30fd;
}

.navbar {
    position: fixed;
    width: 100vw;
    background-color: #8c30fd;
  }
  
.navbar__container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
  
ul {
   margin: 0;
   padding: 0;
   overflow: hidden;  
}
  
li {
    float: none;
    display: inline-block;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #a05ef0;
}

.first-main-container {
    background-color: #281549;
    height: 800px;
    position: relative;
    display: flex;
    z-index: -10;
    overflow: hidden;
}

.first-main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #281549;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.first-main-container-inner-container {
    padding-left: 16rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.first-main-container-inner-container h1 {
    color: white;
    font-size: 5rem;
    font-weight: 700;
    width: 500px;
}

.first-main-container-inner-container h5 {
    color: #FF4FF3;
    font-size: 30px;
}

.first-main-container-inner-container button {
    width: 200px;
    cursor: pointer;
    margin-left: -1px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to right, #832eff, #fe4ff2);
    color: white;
    font-weight: 700;
}

.second-main-container-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #281549;
    position: relative;
}

.second-main-container-inner-container .html-image {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 200px;
    top: 450px;
    transform: rotate(5deg);
}

.second-main-container-inner-container .python-image {
    width: 700px;
    height: 500px;
    left: 220px;
    top: 50%;
    position: absolute;
    transform: rotate(-5deg);
}

.second-main-container-inner-container .java-image {
    width: 700px;
    height: 400px;
    left: 500px;
    top: 60%;
    position: absolute;
    transform: rotate(10deg);
}

.second-main-container-inner-container .css-image {
    width: 200px;
    height: 200px;
    left: 600px;
    top: 30%;
    position: absolute;
    transform: rotate(-5deg);
}

.second-main-container-inner-container .js-image {
    width: 280px;
    height: 250px;
    left: 240px;
    top: 25%;
    position: absolute;
    transform: rotate(5deg);
}

.fade-in-html {
    animation-name: fade-in-html;
    animation-duration: 1s;
}

.fade-in-css {
    animation-name: fade-in-css;
    animation-duration: 1s;
}

.fade-in-python {
    animation-name: fade-in-python;
    animation-duration: 1s;
}

.fade-in-java {
    animation-name: fade-in-java;
    animation-duration: 1s;
}

.fade-in-js {
    animation-name: fade-in-js;
    animation-duration: 1s;
}

@keyframes fade-in-html {
    from {
        opacity: 0;
        top: 700px;
    }

    to {
        opacity: 1;
        top: 450px;
    }
}

@keyframes fade-in-css {
    from {
        opacity: 0;
        top: 0;
    }

    to {
        opacity: 1;
        top: 30%;
    }
}

@keyframes fade-in-python {
    from {
        opacity: 0;
        top:90%;
    }

    to {
        opacity: 1;
        top: 50%;
    }
}

@keyframes fade-in-java {
    from {
        opacity: 0;
        top: 90%;
    }

    to {
        opacity: 1;
        top: 60%;
    }
}

@keyframes fade-in-js {
    from {
        opacity: 0;
        top: 0;
    }

    to {
        opacity: 1;
        top: 25%;
    }
}
